kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: "cgroupfs"
kubeletCgroups: "/system.slice/kubelet.service"
cgroupsPerQOS: true
authentication:
  anonymous:
    enabled: false
  webhook:
    cacheTTL: "0s"
    enabled: true
  x509:
    clientCAFile: "/var/lib/kubernetes/ca.crt"
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: "0s"
    cacheUnauthorizedTTL: "0s"
clusterDomain: "cluster.local"
clusterDNS:
  - "10.32.0.10"
resolvConf: "/run/systemd/resolve/resolv.conf"
containerRuntimeEndpoint: "unix:///run/containerd/containerd.sock"
tlsCertFile: "/var/lib/kubelet/${HOSTNAME}.crt"
tlsPrivateKeyFile: "/var/lib/kubelet/${HOSTNAME}.key"
maxPods: 40
cpuManagerReconcilePeriod: "0s"
evictionHard:
  imagefs.available: "0%"
  nodefs.available: "0%"
  nodefs.inodesFree: "0%"
evictionPressureTransitionPeriod: "0s"
failSwapOn: false
fileCheckFrequency: "0s"
healthzBindAddress: "127.0.0.1"
healthzPort: 10248
podCIDR: "${POD_CIDR}"
httpCheckFrequency: "0s"
logging:
  flushFrequency: 0
  options:
    json:
      infoBufferSize: "0"
    text:
      infoBufferSize: "0"
  verbosity: 0
memorySwap: {}
nodeStatusReportFrequency: "0s"
nodeStatusUpdateFrequency: "0s"
rotateCertificates: true
runtimeRequestTimeout: "0s"
shutdownGracePeriod: "0s"
shutdownGracePeriodCriticalPods: "0s"
staticPodPath: "/etc/kubernetes/manifests"
streamingConnectionIdleTimeout: "0s"
syncFrequency: "0s"
volumeStatsAggPeriod: "0s"